.AddGame {
  width: 100%;
  margin-top: 20px;
  padding: 15px 5px;
  font-size: 16px;
  background-color: ghostwhite;
  border: 1px solid white;
  font-weight: 700;
}

.Forms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Forms > div {
  width: 100%;
}

.Forms form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.Forms select {
  background-color: white;
  border: none;
}

.Forms input {
  border:none;
  background-color: gainsboro;
  margin-top: 20px;
  margin-left: 20px;
  padding: 8px 18px;
}